h1 {
  text-align: center;
}
.container-1 {
  border: 1px solid black;
}
.flex-box-container-1 {
  display: flex;
  border: 1px solid black;
  padding: 1px;
  justify-content: space-around;
  flex-direction: row;
}
.flex-box-container-1 div {
  padding: 10px;
  border: 1px solid black;
  align-items: center;
}
.flex-box-result {
  text-color: red;
}
